doctype
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
    title Wiki Crossword
    link(rel="stylesheet", href="/lib/bootstrap.min.css")
    style .centered { text-align: center; } select { margin-right: 25px; height: 34px; vertical-align: middle; }
  body
    .container
      .row
        .col-sm-12
          h3 Wiki Crossword
      .row
        .col-sm-6
          p Assembled from randomly-selected Wikipedia articles, available under a Creative Commons license.
        .col-sm-6
          p
            a(href="https://github.com/mapmeld/wiki-crossword") Source code
            span &nbsp;and&nbsp;
            a(href="https://github.com/mapmeld/wiki-crossword/issues") bug reports
            span &nbsp;on GitHub. Created by&nbsp;
            a(href="https://twitter.com/mapmeld") @mapmeld
            span .
      .row
        .col-sm-12.centered
          hr
          form(action='/game/new', method='POST')
            select#langSelect(name='language')
              option(value='simple') Simple English
              option(value='es') Español
              option(value='de') Deutsch
              option(value='fr') Français
              option(value='my') မြန်မာဘာသာ
              option(value='hi') हिन्दी
              option(value='ta') தமிழ்
              option(value='ps') پښتو‎
              option(value='ar') العَرَبِيَّة‎‎
              option(value='dv') ދިވެހި
            input.btn.btn-success.btn-large(type='submit', value='Generate New Game')
          hr
      .row
        #clues.col-sm-12
          .col-sm-6
            h4 Across
            ul#across
          .col-sm-6
            h4 Down
            ul#down
      .row
        .col-sm-12.centered
          img(src=image)

    script var clues = !{JSON.stringify(clues)}; var lang = "#{language}";
    script(src="/scripts/puzzle.js")
